.header {
  margin-top: 45px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  padding-bottom: 41px;
}

@media screen and (max-width: 880px) {
  .header__logo {
    margin-left: auto;
    padding-right: 19px;
    padding-left: 19px;
    margin-right: auto;
  }
}

/*FIX PADDING BETWEEN BORDER AND LOGO*/
@media screen and (max-width: 580px) {
  .header {
    padding-bottom: 32px;
  }
  .header__logo {
    margin: 0;
    width: 126px;
    height: 24px;
    padding-bottom: 0;
  }
}
