.modal__container_type_image {
  background: none;
  padding: 0;
  max-height: 75vh;
  max-width: 75vw;
  width: auto;
  /* height: auto; */
  display: flex;
}

.modal__preview-image {
  object-fit: cover;
  max-width: 100%;
}

.modal__caption {
  position: absolute;
  left: 0;
  top: calc(100% + 10px);
  color: rgba(255, 255, 255, 1);
  margin: 0;
}
