.card {
  display: flex;
  flex-direction: column;
  list-style: none;
  position: relative;
}

.card__image {
  height: 282px;
  width: 282px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: 0.2s, ease-in;
  cursor: pointer;
}

.card__description {
  display: flex;
  background-color: #eee;
  color: #000;
  padding: 25px 20px;
  align-items: center;
  justify-content: space-between;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card__title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 900;
  max-width: 220px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

.card__like-button {
  background: transparent url(../images/like-inactive.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: none;
  cursor: pointer;
}

.card__like-button_active {
  background-image: url("../images/like-active.svg");
}

.card__like-button:hover {
  opacity: 50%;
  transition: 0.2s, ease-in;
  cursor: pointer;
}

.button__card_trash_bin {
  position: absolute;
  background: transparent url(../images/trash-bin.svg) center no-repeat;
  margin: auto;
  padding: 0;
  cursor: pointer;
  border: none;
  height: 19px;
  width: 18px;
  top: 18px;
  right: 15px;
  z-index: 1;
}

.button__card_trash_bin:hover {
  opacity: 50%;
  transition: 0.2s, ease-in;
  cursor: pointer;
}
